#partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#partners .section-title { 
    font-size: 4rem;
    font-weight: 700;
    color: #303030;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: left;
}

#partners .section-title span{ 
    color: var(--blue);
}

#partners .content {
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: center;
    gap: 10vw;
}

#partners img {
    align-self: center;
    width: 20%;
}

