/* Reset de estilos para garantir uma base consistente */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

.main {
    background-image: url('../assets/background-image.jpg');
    background-size: cover;
    padding: 5rem 0;
    color: white;
}

.main-container{
    width: 50%;
    margin-left: 10%
}

.main-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.main-container p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}

.features {
    background-color: #f4f4f4;
    padding: 4rem 0;
    text-align: center;
}

.features h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.feature {
    margin-bottom: 3rem;
}

.feature img {
    max-width: 100px;
    margin-bottom: 1rem;
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.feature p {
    font-size: 1.1rem;
    color: #555;
}

.testimonials {
    padding: 4rem 0;
    text-align: center;
}

.testimonials h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.testimonial {
    margin-bottom: 3rem;
}

.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.testimonial blockquote {
    font-style: italic;
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 1rem;
}

.testimonial cite {
    font-weight: bold;
}

#contact {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 1rem 0;
}
